<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gongxianghui">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity" >

        </activity>
        <activity android:name=".activity.BianMinActiviry"/>
        <activity android:name=".activity.ScanActivity"/>
        <activity android:name=".fragments.mineFragment.activity.PersonDataActivity"/>
        <activity android:name=".fragments.mineFragment.activity.LoginActivity"/>
        <activity android:name=".fragments.mineFragment.activity.RegistActivity"/>
        <activity android:name=".fragments.mineFragment.activity.SettingActivity"/>
        <activity android:name=".fragments.mineFragment.activity.SeekPasswordActivity"/>
        <activity android:name=".fragments.homeFragment.activity.SalerActivity"/>
        <activity android:name=".fragments.homeFragment.activity.SearchActivity"/>
        <activity android:name=".fragments.homeFragment.activity.BaoLiaoActivity"/>
        <activity android:name=".fragments.homeFragment.activity.LiftStyleActivity"/>
        <activity android:name=".fragments.locationFragment.activity.PublishStateActivity"/>
        <activity android:name=".fragments.mineFragment.activity.MessageGatherActivity"/>
        <activity android:name=".fragments.mineFragment.activity.MyCollectActivity"/>
        <activity android:name=".fragments.homeFragment.activity.ProtocolActivity"/>
        <activity android:name=".fragments.homeFragment.activity.HomeVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="com.linchaolong.android.imagepicker.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".activity.WelcomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.mineFragment.activity.MineIssueActivity"/>
        <activity android:name=".fragments.mineFragment.activity.MineMessageActivity"/>
        <activity android:name=".fragments.mineFragment.activity.CompanySetActivity"/>
        <activity android:name=".fragments.mineFragment.activity.InviteFrientActivity"/>
        <activity android:name=".fragments.mineFragment.activity.CooperationCallActivity"/>
        <activity android:name=".fragments.homeFragment.activity.HomeAirActivity"/>
    </application>


</manifest>